<% content_for :titlebar do %>
    <h2 style="color:white">Weight Goals</h2>
<% end %>
  
<%= @weight_goal.inspect %>

<% if flash[:success] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:success] %>
  </div>
<% end %>
  
  

<%= link_to 'Add Weight Goal', new_profile_weight_goal_path(profile_email: @profile.email),  class: "btn btn-sm btn-success"  %>
  